*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    background-image: linear-gradient(to bottom, #7BB1C7, #426350);
    background-attachment: fixed; 
}
div{
    width: 200px;
    height: 200px;
    border: 5px solid #0ef;
    margin: 5px auto;
}
#c1{
    background: red;
}
#c2{
    background: blue;
}
#c3{
    background: powderblue;
}
#c4{
    background: #0ef;
}
#c5{
    background: #35F527;
}
#c6{
    background: #5C705A;
}
#c7 {
  background-color: rgb(255, 0, 0);
}
#c8 {
  background-color: rgb(0, 128, 0); 
}
#c9 {
  background-color: rgb(0, 102, 204); 
}
#c10 {
  background-color: rgba(255, 0, 0, 0.2);
}
#c11 {
  background-color: rgba(0, 128, 0, 0.3);
}
#c12 {
  background-color: rgba(0, 102, 204, 0.8);
}
#c13 {
  background-color: hsl(0, 100%, 50%);
}
#c14 {
  background-color: hsl(120, 100%, 25%); 
}
#c15 {
  background-color: hsl(210, 100%, 50%);
}
#c16 {
  background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
}
#c17 {
  background-image: linear-gradient(to bottom, #6a11cb, #2575fc);
}
#c18 {
  background-image: linear-gradient(to bottom, #11998e, #38ef7d);
}
#c19 {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}
#c20 {
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
}
#c21 {
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}
#c22 {
  background-image: radial-gradient(circle, #ff7e5f, #feb47b);
}
#c23 {
  background-image: radial-gradient(circle, #6a11cb, #2575fc);
}
#c24 {
  background-image: radial-gradient(circle, #11998e, #38ef7d);
}
#c25 {
  background-color: hwb(0 0% 0%);
}
#c26 {
  background-color: hwb(120 20% 10%);
}
#c27 {
  background-color: hwb(210 10% 20%);
}
