*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
h2{
    text-align: center;
    font-size: 100px;
    color: rgb(128, 128, 128);
    text-shadow: 5px 5px 0px black;
    text-align: center;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: red groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px black;
    font-family: 'minecraft_pe', sans-serif;
}
a2{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 253, 4);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(17, 16, 16) groove 2px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 25px 0px 5px rgb(11, 60, 235);
    font-family: 'minecraft_pe', sans-serif;
}
a3{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(225, 11, 11);
    color: rgb(241, 238, 238);
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(93, 76, 76) groove 2px;
    border-radius: 50px 10px 50px 0px;
    box-shadow: 0px 0px 50px rgb(213, 207, 15);
    font-family: 'minecraft_pe', sans-serif;
}
a4{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(57, 31, 31);
    color: rgb(227, 216, 225);
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(232, 236, 27) groove 2px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 50px 5px rgb(58, 50, 50);
    font-family: 'minecraft_pe', sans-serif;
}
a5{
    display: block;
    text-align: left;
    text-decoration: none;
    background-color: rgb(140, 14, 96);
    color: rgb(237, 237, 237);
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(205, 17, 93) groove 2px;
    border-radius: 0px 10px 50px 50px;
    box-shadow: -25px 0px 5px rgb(153, 24, 24);
    font-family: 'minecraft_pe', sans-serif;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: red groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px black;
    font-family: 'minecraft_pe', sans-serif;
}
a:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: red groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px black;
    transition: 1s ease all;
    transform: scale(1.2);
    font-family: 'minecraft_pe', sans-serif;
}
a2:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 22, 22);
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(161, 108, 108) groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px rgb(143, 117, 117);
    transition: 1s ease all;
    transform: scale(1.2);
    font-family: 'minecraft_pe', sans-serif;
}
a3:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(43, 30, 30);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: rgb(10, 8, 8) groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px black;
    transition: 1s ease all;
    transform: scale(1.2);
    font-family: 'minecraft_pe', sans-serif;
}
a4:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: red groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 0px 5px black;
    transition: 1s ease all;
    transform: scale(1.2);
    font-family: 'minecraft_pe', sans-serif;
}
a5:hover{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 201, 252);
    color: rgb(10, 10, 10);
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
    border: red groove 2px;
    border-radius: 0px 10px 50px 0px;
    box-shadow: 0px 50px 5px rgb(159, 72, 72);
    transition: 1s ease all;
    transform: scale(1.2);
    font-family: 'minecraft_pe', sans-serif;
}
    
@font-face {
    font-family: 'minecraft_pe';
    src: url('minecraft_pe/MINECRAFT PE.ttf') format('truetype');
}